body
{
    background-image:url("https://i.pinimg.com/236x/b1/19/d9/b119d9c891427a5badd342a852b0efa3.jpg");
    text-align: center;
font-family: Amatic SC;
} 
img
{
    height: 300px;
    width: 300px ;
    border-color: white;
    border-style: solid;
    border-radius: 2px;
border-width: 5px;
}

#Aboutme
{
position: relative;
display: table;
height: 100%;
width : 100%;
z-index: 9;
font-size: x-large;
}

#Myfav
{
position: relative;
display: table;
height: 100%;
width : 100%;
z-index: 9;
font-size: x-large;
}




#myhobbies
{
position: relative;
display: table;
height: 100%;
width : 100%;
z-index: 9;
font-size: x-large;
}

.menu 
{ list-style: none; 
position: fixed;
 float: left;
top: 10px;
 right: 30px;
  cursor: pointer; 
  z-index: 10;
  color : #1100ff; 
}




#myytchannel
{
position: relative;
display: table;
height: 100%;
width : 100%;
z-index: 9;
font-size: x-large;
}





#chatbot
{
position: relative;
display: table;
height: 100%;
width : 100%;
z-index: 9;
font-size: x-large;
}



  
.links
{ color : #1100ff;
     padding-top : 5px; 
     padding-left : 5px;
      padding-right : 5px;
       padding-bottom : 5px;
        float:left; 
    font-size: xx-large;}

 #pic
 {
      position: relative;
display: table;
height: 100%;
width : 100%;
z-index: 9; 
 }

 .links:hover
  { background-color: white(255, 251, 0);
     text-shadow: 2px 2px rgb(0, 0, 0); 
     font-size: 50px; }
















































































































































































































































































































































































































































































































































































































































































